.card {
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    height: 350px;
    position: relative;
    margin-top: 10%;
  }
  
  .container {
    height: 100vh;
  }
  
  /* body {
    background: #626161;
  } */
  
  .mobile-text {
    color: #f8efefb8;
    font-size: 15px;
  }
  
  .form-control {
    margin-right: 12px;
  }
  
  .form-control:focus {
    color: hsl(180, 25%, 98%);
    background-color: #fff;
    border-color: #ff8880;
    outline: 0;
    box-shadow: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  .btn{
    margin-top: 12%;
    margin-left: 40%;
  }
  .no{
    margin-left:10%;
  }